Source: parrot-skel
Section: tasks
Priority: important
Maintainer: Parrot Dev Team <parrot-devel@lists.parrotsec.org
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
           Lisetta "Sheireen" Ferrero <sheireen@parrotsec.org>
           Nong Hoang "DmKnght" Tu <dmknght@parrotsec.org>
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 12), dconf-cli
Build-Depends-Indep: pkg-config
Homepage: http://www.parrotsec.org/

Package: parrot-skel
Architecture: all
Depends: xvkbd, dconf-cli, rsync
Suggests: parrot-interface
Replaces: bash
Section: tasks
Description: Parrot SKEL package
 this package provides the SKEL default content of users
