Package: parrot-skel
Version: 2.2.1
Architecture: all
Maintainer: Lorenzo EclipseSpark Faletra <eclipse@frozenbox.org>
Installed-Size: 204
Depends: xvkbd, dconf-cli
Suggests: parrot-interface
Replaces: bash
Section: parrot
Priority: important
Description: Parrot SKEL package
 this package provides the SKEL default content of users
