Package: parrot-skel
Version: 2.4+parrot1
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 607
Depends: xvkbd, dconf-cli
Suggests: parrot-interface
Replaces: bash
Section: parrot
Priority: important
Homepage: http://www.parrotsec.org/
Description: Parrot SKEL package
 this package provides the SKEL default content of users
